<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.GroupPojoMapper" >
  <resultMap id="BaseResultMap" type="com.model.GroupPojo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="group_desc" property="groupDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, group_desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from group_pojo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from group_pojo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.GroupPojo" >
    insert into group_pojo (id, name, group_desc
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{groupDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.model.GroupPojo" >
    insert into group_pojo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="groupDesc != null" >
        group_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="groupDesc != null" >
        #{groupDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.GroupPojo" >
    update group_pojo
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="groupDesc != null" >
        group_desc = #{groupDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.GroupPojo" >
    update group_pojo
    set name = #{name,jdbcType=VARCHAR},
      group_desc = #{groupDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <resultMap type="groupPojo" id="groupPojoMapper" autoMapping="true">
  	<id column="gp_id" property="id"/>
  	<association property="speaker" javaType="SpeakerExample" autoMapping="true">
  		<id column="se_id" property="id"/>
  	</association>
  	<collection property="auditorList" ofType="AuditorExample" autoMapping="true">
  		<id column="ae_id" property="id"/>
  	</collection>
  </resultMap>
  <select id="selectAllGroup" resultMap="groupPojoMapper" parameterType="java.util.Map">
  	select
  		gp.id gp_id, gp.name, gp.group_desc,
  		se.id se_id, se.snum, se.username, se.truename, se.sex, se.phone, se.group_id, se.user_num, se.use_duration, 
    	se.role_power, se.icon_img, se.remake,
    	ae.id ae_id, ae.snum, ae.username, ae.truename, ae.sex, ae.phone, ae.group_id, ae.use_num, ae.use_duration, 
    	ae.icon_img, ae.remake
    from
    	group_pojo gp
    left join speaker_example se on gp.id=se.group_id
    left join auditor_example ae on gp.id=ae.group_id
    <where>
    	<if test="id!=null">
    		and gp.id=#{id}
    	</if>
    	<if test="groupName!='' and groupName!=null">
    		and gp.name=#{groupName}
    	</if>
    </where>
  </select>
</mapper>